---
import Carousel from '@components/Carousel/Carousel.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  projects: CollectionEntry<'projects'>[];
}
const { projects } = Astro.props;
---

<div id="project-display-panel">
  {
    projects.map(async (project, i) => {
      const { Content } = await project.render();

      const linkText = project.data.link ? project.data.link.replace('https://', '') : '';

      const title = project.data.link 
        ? <>{'{ '} {project.data.title}&nbsp;<a href={project.data.link} target="_blank">{linkText}</a> {' }'}</>
        : `{ ${project.data.title} }`;
      return (
        <div id={`${project.data.id}-display`} class="project-display" style={i === 0 ? { display: 'block' } : {}}>
          <h3>{title}</h3>
          <Carousel images={project.data.images} />
          
          <Content />
        </div>
      );
    })
  }
</div>
